{
    "presets": [
        ["env", {
            "targets": {
                "browser": "> 1%"
            }
        }]
    ],
    "plugins": [
        "syntax-flow",
        "transform-class-properties",
        "transform-flow-strip-types",
        "transform-object-assign"
    ]
}